  <% if @property.pictures.count > 0 %>
    <% if current_user && current_user.admin? %>
      <ul id="pictures" data-update-url="<%= sort_property_pictures_path(@property) %>">
        <% @property.pictures.each do |picture| %>
          <%= content_tag_for :li, picture do %>
              <%= image_tag picture.image_url(:small_thumb) if picture.image? %>
              <div class="actions">
                <%= link_to "edit", edit_property_picture_path(@property, picture) %> |
                <%= link_to "remove", property_picture_path(@property, picture), :confirm => 'Are you sure?', :method => :delete %>
              </div>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <div id="slides">
        <% for picture in @property.pictures %>
          <a href="<%= picture.image_url %>">
          <%= image_tag picture.image_url(:large) if picture.image? %>
          </a>
        <% end %>
      </div>
      <% if @property.pictures.count > 1 %>
      <div class="slide-nav">
        <a id="prev" href="#">Prev</a> | 
        <a id="next" href="#">Next</a>
      </div>
      <% end %>
    <% end %>
  <% end %>
