<h1>
  <strong>Our</strong> Properties 
  <% if current_user && current_user.admin? %>
  <span><%= link_to "Add Property", new_property_path, :class => "button" %></span>
  <% end %>
</h1>
<% if @properties.count > 0 %>
  <% for property in @properties %>
    <div class="border-bot">
    	<div class="wrapper">
        <% if property.pictures.count > 0 %>
        <%= image_tag property.pictures.first.image_url(:thumb), :class => "img-indent" if property.pictures.first.image? %>
        <% end %>
    		<h3 class="text-1">
          <%= link_to short_address(property.address), property %>
        </h3>
    		<span class="text-2">
          <strong><%= property.neighborhood %></strong>
          <ul class="details">
            <li>Price: <%= number_to_currency property.price, :precision => 0 %> | </li>
            <li>Beds: <%= property.beds %> | </li>
            <li>Baths: <%= number_with_precision property.baths, :precision => 1 %> | </li>
            <li>Sqft: <%= number_with_delimiter property.sqft %></li>
          </ul>
        </span>
    		<div class="alignright">
          <%= link_to "View", property, :class => "button" %>
        </div>
    	</div>
    </div>
  <% end %>
<% else %>
<p class="reg color-1">Sorry, there are currently no properties.<p>
<% end %>
