<%= javascript_include_tag "http://malsup.github.com/jquery.easing.1.3.js" %>

<h1><%= @property.address %> <span><%= number_to_currency @property.price, :precision => 0 %></span></h1>
<div class="image-area">
<% if @property.pictures.count > 0 %>
  <div id="slides">
    <% for picture in @property.pictures %>
      <%= image_tag picture.image_url(:large) if picture.image? %>
    <% end %>
  </div>
  <% if @property.pictures.count > 1 %>
  <div class="slide-nav">
    <a id="prev" href="#">Prev</a> | 
    <a id="next" href="#">Next</a>
  </div>
  <% end %>
<% end %>
</div>
<div class="details-area">
  <ul>
  	<li>Price: <%= number_to_currency @property.price, :precision => 0 %></li>
  	<li>Beds: <%= @property.beds %></li>
  	<li>Baths: <%= number_with_precision @property.baths, :precision => 1 %></li>
  	<li>Sqft: <%= number_with_delimiter @property.sqft %></li>
  </ul>
  <p class="description">
    <%= @property.description %>
  </p>
</div>

<!-- Admin -->
<% if @property.pictures.count > 0 %>
<div id="pictures">
  <% for picture in @property.pictures %>
    <div class="picture">
      <%= image_tag picture.image_url(:small_thumb) if picture.image? %>
      <div class="actions">
        <%= link_to "edit", edit_picture_path(picture) %> |
        <%= link_to "remove", picture, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<p>
  <%= link_to "Add a Picture", new_picture_path(:property_id => @property) %> | 
  <%= link_to "Edit Property", edit_property_path(@property) %> | 
  <%= link_to "Remove Property", @property, :confirm => "Are you sure?", :method => :delete %> | 
  <%= link_to "View Properties", properties_path %> 
</p>
