<%= form_for @testimonial do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :person %><br />
    <%= f.text_field :person %>
  </div> 
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div> 
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div> 
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
