<div id="footer">
	<div class="wrapper">
		<ul class="menu-bot">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Properties", properties_path %>
      </li>
      <li>
        <%= link_to "Portfolio", galleries_path %>
      </li>
      <li>
        <%= link_to "Before & After", properties_path %>
      </li>
      <li>
        <%= link_to "Testimonials", testimonials_path %>
      </li>
      <li>
        <%= link_to "Profile", "/profile" %>
      </li>
			<li>
				<a href="/blog">Blog</a>
			</li>
		</ul>
		<div class="text-bot">
			<span>Moazami Homes &copy; <%= Time.now.year %></span>
      <%= debug(params) if Rails.env.development? %>
		</div>
	</div>
</div>
