<div id="header">
	<div class="row-1">
		<div class="wrapper">
			<div class="logo">
        <%= link_to logo, root_path %>
			</div>
      <ul class="sub-menu">
      	<li>
      		<a href="#">Help</a>
      	</li>
      	<li>
      		<a href="#">FAQ's</a>
      	</li>
      	<li>
          <% if signed_in? %>
          <%= link_to "Sign Out", signout_path, :class => 'last-item' %>
          <% else %>
          <%= link_to "Sign In", signin_path, :class => 'last-item' %>
          <% end %>
      	</li>
      </ul>
		</div>
	</div>
  <div class="row-2">
  	<div class="wrapper">
  		<ul class="menu">
  			<li>
          <%= link_to "Home", root_path %>
  			</li>
  			<li>
          <%= link_to "Properties", properties_path %>
  			</li>
  		</ul>
  	</div>
  </div>
</div>
