<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= yield :stylesheets %>
  <%= yield :before_jquery %>
  <%= javascript_include_tag "application" %>
  <%= yield :after_jquery %>
  <%= csrf_meta_tags %>
</head>
<body id="page1">
<div class="bg">
	<div class="main">

    <%= render 'layouts/header' %>

    <%= render 'layouts/content' %>

    <%= render 'layouts/footer' %>

  </div>
</div>
</body>
</html>
